Origin: xbian
Package: xbian-package-rtorrent-0.9.4
Version: 0.9.4
Section: net
Priority: optional
Architecture: armhf
Depends: libxmlrpc-core-c3, libcurl3, dtach
Conflicts: 
Maintainer: koper89
Description: rtorrent 0.9.4 compiled, patched and configured for XBian
